body {
	background: #080808;
}

#wrap {
	background: #222;
	box-shadow: inset 0 0 0 1px #404040, 0 0 0 1px #000;
	left: 50%;
	padding: 10px;		
	position: absolute;
	top: 50%;

	width: 800px;
	height: 600px;
	transform: translate(-50%, -50%);
}

.loaded #wrap {
	opacity: 1;			
}

#wrap-inner {
	background: #000;				
	overflow: hidden;
	position: relative;	
}

canvas 	{
	cursor: crosshair;
	display: block;
	left: 0;
	position: absolute;
	top: 0;
}

#loadcover {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
	background: #080808;
}

.icon {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
}