html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #222;
    position: relative;
}

#container {
    position: absolute;
    width: 800px;
    height: 600px;
}

#game {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#container p,
#container h1,
#container h2,
#container h3,
#container h4,
#container h5,
#container h6,
#container i {
    margin: auto;
}

.icon {
    color: #000;
    position: absolute;
    top: 48%;
    left: 48%;
}